# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata

# SwiftPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Logs
*.log
